:root {
    --margin-rem: .4rem;

    --banner-height: 8rem;
    --nav-height: 2.5rem;
    --min-content-height: 20rem;
    --footer-height: 5rem;

    --left-colu-width: 200px;
    --content-width: calc(100% - (var(--left-colu-width) + var(--margin-rem) * 6));
}

.devel {
    
}

.outter-wall {
    margin: auto;
    max-width: 1400px;
    display: flex;
    flex-flow: column;
    margin-top: 1rem;
    border: .2rem solid black;
    background-color: rgb(240, 240, 240);
}

.banner {
    height: var(--banner-height);
    border: .2rem solid blue;
}

.nav-bar {
    border: .2rem solid purple;
    height: var(--nav-height);
}

.left-colu {
    border: .2rem solid green;
    float: left;
    width: var(--left-colu-width);
    min-height: var(--min-content-height);
    margin: var(--margin-rem);
}

.main-colu {
    border: .2rem solid red;
    float: left;
    width: var(--content-width);
    min-height: var(--min-content-height);
    margin: var(--margin-rem);
}

.footer {
    border: .2rem solid fuchsia;
    float: left;
    height: var(--footer-height);
    width: calc(100% - 1.3rem);
    margin: var(--margin-rem);
}

@media screen and (max-width: 900px) {
    .nav-bar {
        float: right;
        width: calc(100% - (4rem));
        margin: 0;
    }
    .left-colu {
        float: left;
        width: 2.5rem;
        min-height: 0;
        max-height: 2.5rem;
        margin: 0;
        margin-left: var(--margin-rem);
        overflow: hidden;
    }
    .main-colu {
        width: calc(100% - 1.2rem);
    }
}